/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/03/2015, 07:16:33 AM
    Author     : Dianita
*/

body{
   
    background: lemonchiffon;
}

h1{
    color:  brown;
    font-size:35pt;
    font-style:   oblique;
    font-family: Monotype Corsiva;
    border-radius: 30px;
    alignment-adjust: central;
    background-color: orange;
}
h1:first-letter{
  font-size:  60px;  
}
p{
    color:    olivedrab;
    text-align: center;
}
p:first-letter {
    color: brown;
    font-size:  xx-large;
}
.ladoIzqImg{
    float: left;
 
}
.header{
    font-family: Monotype Corsiva;
    text-align: center;
}
.ladoIzdLogin{
   /*background: gold;*/
    float: left;
    margin-top: 0px;
    text-align:center;
    width: 350px;
    height: 700px;
    border-radius: 5px;
    alignment-adjust: central;
    background-color: gold;
}
.imagen177{
    
    margin: 100px;    
    border-radius:10px;
    box-shadow: 15px 15px 25px #888888;
}
.ladoIzdCueva{
    float: left;
    margin-top: 0px;
    text-align: center;
    width: 350px;
    height: 700px;
    border-radius: 10px;
    alignment-adjust: central;
    background-color: gold;
}
.panelcentro
{
    margin: 100px;
    margin-left: 450px;
    background: border-box;
}
.imgIntruso
{
    width: 200px;
    height: 50px
}
.imgC256{
    margin: 35px;
    display: inline; 
    border-radius:40px;
    box-shadow: 10px 10px 25px #888888;
    border: 10px solid orangered;
    opacity:0.7;
  filter:alpha(opacity=10);
}
.imgC256:hover{
    opacity:2.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
hr{
    border-color: orange
}